<ng-sidebar-container>
  <ng-sidebar [opened]="opened">
    <nav class="w-100 color">
      <ul class="d-flex flex-column p-0">
        <li class="nav__item">
          <a class="item__link"
            ><i class="fas fa-user decorationicon mr-2"></i>Perfil</a
          >
        </li>
        <li class="nav__item">
          <a class="item__link"
            ><i class="fas fa-wallet decorationicon"></i>Modulo</a
          >
        </li>
        <li class="nav__item" (click)="seminario()">
          <a class="item__link"
            ><i class="fas fa-passport decorationicon"></i>Seminario</a
          >
        </li>
        <li class="nav__item">
          <a class="item__link"
            ><i class="fas fa-address-book decorationicon"></i>Sesion</a
          >
        </li>
        <li class="nav__item">
          <a class="item__link"
            ><i class="fas fa-comment-dots decorationicon"></i>Pedido de
            Oracion</a
          >
        </li>
        <li class="nav__item" (click)="asistencia()">
          <a class="item__link"
            ><i class="fas fa-book-reader decorationicon"></i>Asistencia</a
          >
        </li>
        <li class="nav__item">
          <a class="item__link"
            ><i class="fas fa-ban decorationicon"></i>Salir</a
          >
        </li>
      </ul>
    </nav>
  </ng-sidebar>
</ng-sidebar-container>
