<section class="h-100 w-100 main-bg">
  <header class="d-flex flex-column">
    <div>
      <h1 class="d-inline-block">Seminario</h1>
      <i
        class="fas fa-plus-square m-3 icono"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      ></i>
    </div>
    <hr class="text-dark" />
  </header>
  <ele-table
    [seminario]="inSeminario"
    (status)="traerStatus($event)"
    (id)="traerId($event)"
  ></ele-table>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div
          class="modal-header"
          style="background-color: white"
          *ngIf="status"
        >
          <h5 class="modal-title" id="exampleModalLabel">Añadir Seminario</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="limpiarSeminario()"
          ></button>
        </div>
        <div
          class="modal-header"
          style="background-color: white"
          *ngIf="!status"
        >
          <h5 class="modal-title" id="exampleModalLabel">Editar Seminario</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="limpiarSeminario()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="contenido2">
            <section class="centro">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  [(ngModel)]="inSeminario.nombre"
                />
                <label for="floatingInput">Ingrese Nombre</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  [(ngModel)]="inSeminario.url"
                />
                <label for="floatingInput">Ingrese Link</label>
              </div>
              <h5 id="tex"><b>Fecha Inicio:</b></h5>
              <input
                type="date"
                class="caja"
                name="Fecha"
                style="text-align: center"
                [(ngModel)]="inSeminario.fecha_inicio"
              />
              <h5 id="tex"><b> Fecha Fin:</b></h5>
              <input
                type="date"
                class="caja"
                name="Fecha"
                style="text-align: center"
                [(ngModel)]="inSeminario.fecha_fin"
              />
            </section>
          </div>
        </div>
        <div
          class="modal-footer"
          style="padding-right: 140px; padding-bottom: 10px"
          *ngIf="status"
        >
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            (click)="limpiarSeminario()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="GuardarSeminario()"
            data-bs-dismiss="modal"
          >
            Guardar Cambios
          </button>
        </div>
        <div
          class="modal-footer"
          style="padding-right: 140px; padding-bottom: 10px"
          *ngIf="!status"
        >
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            (click)="limpiarSeminario()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="EditarSeminario()"
            data-bs-dismiss="modal"
          >
            Editar Cambios
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
